*, *::before, *::after{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

body{
    width: 100%;
    overflow-x: hidden;
    position:relative;
    background-color: #0b3975;
}
 
body header{
    width:100%;
    height:150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top:50px;
    overflow-x: hidden;
}


/*mobile device*/
@media screen and(min-width:320px) and (max-width:480px) {
    body header #searchbar{
        font-size: 18px;
        width:85%;
        height: 100%;
        color:white;
        border-color: white;
        font-family: 'Noto Sans', sans-serif;
    }
}

