*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --cold-white:#f3fdfb;
  --greenish:#012c12;
  --purp:#a90f6e;
  --lightgreen:#097969;
}

body {
  display: none;
}

/*mobile display*/
@media screen and (min-width: 320px) {
  body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Noto Sans", sans-serif;
    width: 100%;
    min-height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: var(--greenish);
  }


  body header {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
  }

  body header h2 {
    display: inline-block;
    position:relative;
    font-family:inherit;
    font-weight: 700;
    padding: 3px 1px 1px 1px;
    height: 35px;
    width: 250px;
    outline: none;
    color:var(--cold-white);
    border:1px solid var(--cold-white);
    border-radius: 5px;
    cursor: pointer;
    caret-color: transparent;
    box-shadow: 0 .5px 5px rgb(23, 23, 23);
    overflow: hidden;
    white-space: nowrap;
  
  }


  body header h2 span{
    display: inline-block;
    height: 100%;
    min-width: 1px;
  }

  body header h2 br, body header h2 div {
    display: none;
  }


  body header h2:focus {
    border-color:var(--lightgreen);
    background-color: var(--lightgreen);
  }

  @keyframes blink {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }


  body header h2::after{
    content: "";
    display: inline-block;
    position: relative;
    bottom:-2px;
    left:2.2px;
    width: 7px;
    height: 25px;
    background-color: var(--purp);
    animation-name: blink;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    opacity: 1;
  }
  
  body #index_section_container{
    display: grid;
    justify-content: center;
    padding:10px;
    grid-template-columns: repeat(3, 83px);
    grid-template-rows: repeat(5, 57px);
    row-gap: 25px;
    column-gap: 20px;
    width: 100%;
    height: max-content;
    position: relative;
    top:50px;
    border: 1px solid gold;
    color: var(--cold-white);
  }

  body #index_section_container .index_container {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 1px;
    border: 1px solid white;
    border-radius: 8px;
    overflow: visible;
  }

  #index_section_container .index_container .mkt_name{
    text-align: center;
    color: var(--cold-white);
    font-weight: 600;
  }

  #index_section_container .index_container .price{
    text-align: center;
    color: var(--cold-white);
    font-weight: 600;
  }

   #index_section_container .index_container .img_container{
    position:relative;
    top:3px;
    bottom:0px;
    display: flex;
    justify-content: center;
    align-items: end;
    column-gap: 2.5px;
   }

   #index_section_container .index_container .img_container .percent_change{
    color:red;
   }

  body footer{
    display: flex;  
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    position: relative;
    top: 100px;
    bottom:0;
    left:0;
    right:0;
    width:100%;
    height: max-content;
    padding:10px 20px 8px;
    font-size:15px;
    line-height:24px;
    color:rgb(222, 218, 218);
    background-color: #113921;
  }

body footer .container {
  display: flex;
  justify-content: space-around;
  column-gap: 3px;
  width:100%;
}

body footer #footer-top-row{
  padding-bottom: 5px;
  border-bottom-width: .7px;
  border-bottom-style: solid;
  border-bottom-color: var(--cold-white);
}

body footer .container .first-child {
width: 175px;
}

body footer .container .second-child{
  width: 80px;
}

  body footer .container #about p{
    font-size: 9px;
    color:inherit;
  }

  body footer .container #links ul{
    list-style: none;
    font-size: 9px;
    color:inherit;
  }

  footer .container .first-child h6 .link, footer .container .second-child ul li .link,
   footer .container .second-child h6 .link{
    color: var(--cold-white);
    text-decoration: none;
  }

  }

@media screen and (max-width: 480px) { 

}